* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #1976d2;
  text-decoration: underline;
}

.MuiPagination-root {
  font-size: 2rem !important;
}
